workflow.json
[
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        16
      ],
      "id": "c2617cbb-ed9d-41ec-b3fe-efbb0ceef3a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -208,
        32
      ],
      "id": "c9bba44d-b8c8-4e9d-903b-bf24e2f49d00",
      "name": "When chat message received",
      "webhookId": "2019dbb0-693a-41bc-8c57-9154567b4ea3"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        224
      ],
      "id": "34d9a5ad-c94b-4201-9a55-e8a3c1ce20db",
      "name": "OpenRouter Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openRouterApi": {
          "id": "eTNYCGFMRo3QD8Hj",
          "name": "OpenRouter account"
        }
      },
      "notes": "you are a very help full ai assistant"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        224
      ],
      "id": "753a02db-619b-42f0-8699-71a8878bea3d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        16
      ],
      "id": "f7c65982-573d-43e5-8709-c28ee95e6f8e",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aba4b40b96d66bbc88326a5e6b8fe0ae32af4add16b67ef63d19dbc5abe5453d"
  }
}
]
